name: CD

on:
  workflow_run:
     workflows: ["CI"]
     types: [completed] #requested

jobs:
   on-success:
     runs-on: ubuntu-latest
     if: ${{ github.event.workflow_run.conclusion == 'success' }}
     steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: build
        run: sbt compile

   on-failure:
     runs-on: ubuntu-latest
     if: ${{ github.event.workflow_run.conclusion == 'failure' }}
     steps:
       - run: echo "First workflow was a failure"
